<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title> Student List </title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

    </head>
    
    <body>
        
	{% for i in data %}

		{{ i.std_name }} <br>
		{{ i.std_id }} <br>
		{{ i.std_email }} <br>

		<br>
	{% endfor %}

        <script src="" async defer></script>
    </body>

</html>
