<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title> Student List </title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

    </head>
    
    <body>
        
        {% for student in data %}

            Name : {{student.std_name}} <br>
            ID : {{student.std_id}} <br>
            Email : {{student.std_email}} <br>

            <p> Courses :
                
                <ul>
                    {% for course in student.course.all %}
                        <li> {{course.course_name}} </li>
                    {% endfor %}
                </ul>

            </p>

        {% endfor %}

        <script src="" async defer></script>
    </body>

</html>
